[
  {
    "ConfigName": "配置1",
    "Host": "172.27.242.223",
    "Port": 21,
    "Username": "xwdgmuser",
    "Password": "xwdgm@2023",
    "PackagePath": "NodeService.WebServer/packages/NodeService.UpdateService.zip",
    "InstallPath": "C:\\shouhu\\NodeService.UpdateService",
    "ServiceName": "NodeService.UpdateService",
    "EntryPoint": "C:\\shouhu\\NodeService.UpdateService\\NodeService.UpdateService.exe"
  },
  {
    "ConfigName": "配置2",
    "Host": "172.27.241.153",
    "Port": 21,
    "Username": "ftpuser",
    "Password": "Szch@2023",
    "PackagePath": "NodeService.WebServer/packages/NodeService.UpdateService.zip",
    "InstallPath": "C:\\shouhu\\NodeService.UpdateService",
    "ServiceName": "NodeService.UpdateService",
    "EntryPoint": "C:\\shouhu\\NodeService.UpdateService\\NodeService.UpdateService.exe"
  }
]