@namespace JobsWorkerWebService.Pages.Devices.DeviceInfo
@page "/devices/{deviceName}"
@inject FileSystem.FileSystemClient FileSystemClient

<PageTitle>@DeviceName</PageTitle>

<GridContent>
        <Tabs DefaultActiveKey="2">
            <TabPane Key="1">
                <TabTemplate>
                    <span><Icon Type="android" />基础信息</span>
                </TabTemplate>
                <ChildContent>Tab 1</ChildContent>
            </TabPane>
            <TabPane Key="2">
                <TabTemplate>
                    <span><Icon Type="apple" />文件系统</span>
                </TabTemplate>
                <ChildContent>Tab 2</ChildContent>
            </TabPane>
        </Tabs>
</GridContent>

@code
    {
    [Parameter]
    public string? DeviceName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var rsp = await this.FileSystemClient.ListAsync(new GrpcServices.FileSystemListReq()
                {
                    RequestId = Guid.NewGuid().ToString(),
                    IncludeSubDirectories = false,
                    Path = "/",
                    Timeout = 30000
                });
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

}
